body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about-us {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.div1 {
  margin: auto;
  width: 80%;
}

h4 {
  color: #c2c2c2;
  margin-top: 30 px;
}
